.row-fluid [class='span'] {
	min-height: 20px;
}

.row-fluid [class*="span"] {
	min-height: 20px;
}

.input-block-level {
	min-height: 20px;
}

.row-fluid [class*="span"] {
	min-height: 20px;
}

.input-large,.input-xlarge,.input-xxlarge,input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input
	{
	min-height: 20px;
}